@model Grupp2.Entities.Product

@{
    ViewData["Title"] = "Detaljer";
}

<h1>Produktinformation</h1>

<div>
    <h4>Produkt</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Namn</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">Pris</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">Beskrivning</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">Är nyhetsprodukt?</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsNewsProduct)
        </dd>
        <dt class="col-sm-2">Kategori</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Tillbaka till produktlistan</a>
</div>
