@model IEnumerable<Grupp2.Entities.Product>

@{
    ViewData["Title"] = "Lista";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


@using (Html.BeginForm("GetProductsFromSearch", "Product", FormMethod.Get)){
<p>
    Title: @Html.TextBox("searchString") <br />
    <input type="submit" value="Search by Product" />
</p>
}


@using (Html.BeginForm("GetProductsInCategory", "Product", FormMethod.Get)){
<p>
    Title: @Html.TextBox("searchString") <br />
    <input type="submit" value="Search by Category" />
</p>
}

<table class="table">
    <thead>
        <tr>
            <th>Namn</th>
            <th>Pris</th>
            <th>Beskrivning</th>
            <th>Är nyhetsprodukt?</th>
            <th>Kategori</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsNewsProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
